.share-social {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 10px;
    color: #fff;
    border-radius: 5px;
    gap: 5px;

    &.facebook {
      background-color: #3b5998;
    }
    &.twitter {
      background-color: #1da1f2;
    }
    &.linkedin {
      background-color: #0077b5;
    }
  }
}
