.trendlist {
  display: flex;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 2px 7px #8f8f8f;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
  .trendlist__rating {
    position: absolute;
    top: 0;
    right: 0;
    background: #f2d052;
    padding: 3px 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #000;
    box-shadow: 0 3px 7px #dadada;
  }
  .trendlist__image {
    width: 85px;
    height: 100px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;

    a {
      width: 100%;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .trendlist__content {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;

    .trendlist__content__title {
      a {
        font-size: 18px;
        font-weight: 700;
        color: #000;
        margin-bottom: 5px;
        margin-right: 30px;
      }
    }
    .trendlist__content__description {
      font-size: 14px;
      color: #000;
      margin-bottom: 5px;
      line-height: 18px;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      word-wrap: break-word;
    }

    .trendlist__content__tag {
      margin-top: auto;
      a {
        font-size: 14px;
        display: inline-block;
        margin-right: 4px;
        padding: 2px 7px;
        background: #ddd;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 500;
        color: #000;
        text-transform: capitalize;

        &:first-child {
          background: #366ad3;
          color: #fff;
        }
      }
    }
  }
}
