.admin-container {
  flex: 1 1;
  position: relative;

  .admin-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 2%);
    height: 80px;
    z-index: 100;
    display: flex;
    align-items: center;
    gap: 30px;
    // justify-content: space-between;
    padding: 0 30px;

    h3 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 20px;
      line-height: 40px;
      margin-bottom: 0;
    }
  }

  .admin-main {
    position: relative;
    overflow: auto;
    background-color: #f5f5f5;
    height: 100vh;
    overflow: auto;

    .fake-header {
      height: 80px;
      background-color: #fff;
    }

    &__content {
      padding: 30px;
      transition: opacity 0.3s;

      .default {
        padding: 30px;
        background-color: #fff;
        min-height: calc(100vh - 168px);

        table {
          thead {
            th {
              font-size: 15px;
              font-weight: 500;
              text-transform: uppercase;
              color: #000;
            }
          }
          tbody {
            .novel-title {
              display: flex;
              align-items: center;
              gap: 10px;
            }
            img {
              width: 60px;
              height: 80px;
              aspect-ratio: auto 60 / 80;
            }
            .action {
              button {
                border: none;
                padding: 5px 10px;
                border-radius: 5px;
                background-color: #366ad3;
                color: #fff;
                font-size: 16px;
                font-weight: 500;
                text-transform: uppercase;

                &.accept {
                  background-color: #36d36a;
                  margin-right: 10px;
                }
                &.preview {
                  margin-right: 10px;
                }
                &.delete {
                  background-color: #d33636;
                }
              }
            }
          }
          tfoot {
            tr {
              td {
                border: none;
              }
            }
          }
        }
      }
    }
  }
}
