.item-popular {
  display: flex;
  background-color: #fff;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid #ddd;
  .item-serial-number {
    width: 25px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid rgb(36, 50, 240);
    color: rgb(36, 50, 240);
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 25px;
    margin-right: 10px;
  }
  .item-popular__image {
    width: 60px;
    height: 70px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    margin-right: 10px;
    a {
      width: 100%;
      img {
        height: 100%;
      }
    }
  }
  .item-popular__content {
    overflow: hidden;
    text-overflow: unset;
    white-space: unset;
    flex: 1;

    .item-popular__title {
      a {
        font-size: 16px;
        font-weight: 700;
        color: #000;
        line-height: 1.4em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
    }
    .item-popular__genres {
      text-transform: capitalize;
      font-size: 13px;
      color: rgb(75, 74, 74);
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      word-wrap: break-word;

      span {
        font-weight: 700;
        line-height: 1.4em;
      }
    }
  }
}
